.save-file-detail {
  max-width: 800px;
  margin: 40px auto;
  background-color: #f2e6d4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #1b365d;
}

.save-file-detail h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #d4af37;
  font-family: 'Roboto', sans-serif;
}

.save-file-detail p {
  font-size: 1.1rem;
  margin: 15px 0;
  color: #6e6259;
  font-family: 'Open Sans', sans-serif;
}

.leader-info {
  color: #1b365d;
  font-weight: bold;
}

.difficulty-info {
  color: #c2571a;
  font-weight: bold;
}

.map-info {
  color: #556b2f;
  font-weight: bold;
}

.save-file-detail .description {
  font-size: 1.2rem;
  color: #d4af37;
  font-family: 'Roboto', sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
